<div class="container"> 
  <form class="form-signin">
    <h2 class="form-signin-heading"></h2>
   <img src="http://graph.facebook.com/1427934347267737/picture?type=normal" alt="">
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" ng-model="user.username" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" ng-model="user.password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" ng-click="Dologin(user)" type="submit">Sign in</button>
    <button class="btn btn-lg btn-primary btn-block" ng-click="authenticate('facebook')">Sign in with Facebook</button>
    
    <!--<button ng-click="authenticate('google')">Sign in with Google</button>
    <button ng-click="authenticate('github')">Sign in with GitHub</button>
    <button ng-click="authenticate('linkedin')">Sign in with LinkedIn</button>
    <button ng-click="authenticate('instagram')">Sign in with Instagram</button>
    <button ng-click="authenticate('twitter')">Sign in with Twitter</button>
    <button ng-click="authenticate('foursquare')">Sign in with Foursquare</button>
    <button ng-click="authenticate('yahoo')">Sign in with Yahoo</button>
    <button ng-click="authenticate('live')">Sign in with Windows Live</button>
    <button ng-click="authenticate('twitch')">Sign in with Twitch</button>
    <button ng-click="authenticate('bitbucket')">Sign in with Bitbucket</button>
    <button ng-click="authenticate('spotify')">Sign in with Spotify</button>-->
  </form>
</div>